#redirect-manager{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 20%;
  height: 100vh;
  gap: 2.5rem;
}

.redirect{
  display: grid;
  grid-template-areas:
    "head"
    "line"
    "desc";
  grid-template-rows: 2fr 1fr 7fr;
  color: snow;

  padding: 2rem;
  width: 25%;
  border: solid snow;
  transition: all ease-in-out 0.3s;

  cursor: pointer;
}

.redirect:hover{
  transform: scale(1.05);
  box-shadow: 0 0.25rem 1rem 0.5rem whitesmoke;
}

.redirect-header{
  font-weight: 700;
  font-size: 1.2rem;
  grid-area: head;
}

.redirect-description{
  grid-area: desc;
}

.split-line{
  grid-area: line;
}
